@theme static {
  --color-primary: #393B6E;
  --color-primary-light: #4B4D7E;
  --color-primary-dark: #232946;
  --color-secondary: #10B981;
  --color-secondary-light: #6EE7B7;
  --color-secondary-dark: #047857;
  --color-accent: #F59E0B;
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-text-primary: #1F2937;
  --color-text-secondary: #4B5563;
  --color-border: #E5E7EB;
}
